body {
    font-family: 'Anonymous Pro', monospace;
    background-color: lightgreen;
}

header {
    background-color: darkgreen;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Angkor, sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    margin: 20px;
}

nav button {
    background-color: lightgreen;
    border: none;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

table {
    width: 100%;
}

table td {
    padding: 10px;
}

.web-part {
    display: none;
    background-color: verylightgreen;
    padding: 20px;
}

.web-part p {
    font-size: 20px;
}

#main-content {
    display: block;
}
